{% load static i18n wagtailcore_tags %}

<header class="header" role="banner">
    <div class="logo">
      <a href="https://wagtail.io/">
        <h3></h1>
      </a>
    </div>
    <div class="header-link">
        <a href="#">
            <img src="{% static "images/logo.svg" %}" alt="" class="figure-space">
        </a>
    </div>

    <div class="header-link">
      {% comment %}
        This works for all cases but prerelease versions:
      {% endcomment %}
      <a href="{% wagtail_documentation_path %}/releases/{% wagtail_release_notes_path %}">
        {% trans "" %}
      </a>
    </div>
  </header>