{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-genericpage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/embed.css' %}">

{% endblock extra_css %}

{% block content %}

{% include 'home/_header.html' %}

<main class="main-text">

    {% for block in page.body %}
        <article>
            {% if block.block_type == 'heading' %}
                <h2 class="text-center">{{ block.value }}</h2>
            {% elif block.block_type == 'paragraph' %}
                <p class="text-center mb-0">{{ block.value }}</p>
            {% elif block.block_type == 'image' %}
                {% image block.value width-400 class="img-fluid" alt="Responsive image" %}
            {% elif block.block_type == 'embed' %}
                <div class="youtube mx-auto">{{ block.value }}</div>
            {% endif %}
        </article>
    {% endfor %}
</main>

{% include 'home/_footer.html' %}

{% endblock content %}
