{% extends "base.html" %}

{% load static i18n wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script type="text/javascript" src="{% static 'js/paper-full.js' %}"></script>

{% endblock extra_css %}


{% block content %}

{% include 'home/_header.html' %}

  <main class="main">

    <div class="main-text"></div>
        <h1>{{ page.title|richtext }}</h1>
        <article>
                {% for block in page.body %}
                    <section>{% include_block block %}</section>
                {% endfor %}
        </article>
    </div>

  </main>

{% include 'home/_footer.html' %}

{% endblock content %}
