{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/embed.css' %}">
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<script type="text/javascript" src="{% static 'js/paper-full.js' %}"></script>

{% endblock extra_css %}


{% block content %}

    {% for stream in page.my_stream %}
        {% include_block stream %}
    {% endfor %}

{% endblock content %}