{% load static i18n wagtailcore_tags %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}


<header class="d-flex flex-row justify-content-between align-items-center px-3" role="banner">
    <div class="">
        <a class='' href="tel:+62-061-661-6765" target="_blank" title="Call Us">
            <i class="icon-smartphone icon3x"></i><span class="d-none d-md-block"></span>
        </a>
    </div>
    <div class="">
        <a class=' d-none d-sm-block' href="/">
            <img src="{% static "images/logo.svg" %}" alt="" class="figure-space">
        </a>
        <a class="d-block d-sm-none" href="/">
            <img height='50px' src="{% static "images/logo.svg" %}" alt="" class="figure-space">
        </a>
    </div>

    <div class="">
        <div class="dropdown show">
            <a class="btn p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-heart icon2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="https://www.facebook.com/pages/category/Elementary-School/Inspire-Performing-Arts-Centre-Medan-1392922187623137/"><i class="icon-facebook_circle icon3x"></i><span class="d-none d-md-block">Facebook</span></a>
                <a class="dropdown-item" href="https://www.instagram.com/ipac.medan"><i class="icon-instagram_circle icon3x"></i><span class="d-none d-md-block">Instagram</span></a>
                <a class="dropdown-item" href="mailto:name@email.com"><i class="icon-mail icon2x"></i><span class="d-none d-md-block">Email</span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/contact/"><i class="icon-message icon2x"></i><span class="d-none d-md-block">Contact</span></a>
            </div> 
        </div>
    </div>
</header>





<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom justify-content-center">

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">   
            <i class="fa fa-caret-square-o-down" style="color:#fff; font-size:28px;"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
        {% for menu in menuitems %} {% if page.url != menu.url %}
        <a class="nav-item nav-link ml-auto" href="{{menu.url}}">{{menu.title}}</a> {% elif page.url == menu.url %}
        <a class="nav-item nav-link active ml-auto" href="{{menu.url}}">{{menu.title}}</a> {% endif %} 
        {% if not forloop.last %} <strong class="nav-item text-white my-2 d-none d-lg-block"> : </strong> {% endif %}
        {% endfor %}
    </div>
    </div>
  </nav>

