{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-jobs{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/article.css' %}">

{% endblock extra_css %}

{% block content %}

    {% include 'home/_header.html' %}

    <main class="main">

        <h1>{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>
        <div class="intro">{{ page.start_date|richtext }}</div>

        {% for post in jobs %}
            {% with post=post.specific %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

                <p>{{ post.intro }}</p>
                {{ post.body|richtext }}
            {% endwith %}
        {% endfor %}
        
        <div class="fb-share-button" data-href="http://chandrakumala.pythonanywhere.com/jobs/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fchandrakumala.pythonanywhere.com%2Fjobs%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        <p><a href="{{ page.get_parent.url }}">Return to home page</a></p>
    </main>

    {% include 'home/_footer.html' %}

{% endblock content %}