{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-classes{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/article.css' %}">

{% endblock extra_css %}

{% block content %}

    {% include 'home/_header.html' %}

    <main class="main">

        <h1>{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>

        <div class="classes">
            {% for post in classespages %}
                {% with post=post.specific %}
                    <article>
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <p>{{ post.intro }}</p>
                        {{ post.body|richtext }}
                    </article>
                {% endwith %}
            {% endfor %}
        </div>

        <p><a href="{{ page.get_parent.url }}">Return to home page</a></p>
    </main>

    {% include 'home/_footer.html' %}

{% endblock content %}